.main {
  width: 80%;
  margin: 0 10%;
}
.urlTable {
  border: solid 1px #000000;
  border-collapse: collapse;
  width: 100%;
}
.urlTable tr {
  height: 50px;
  border-top: solid 1px #000000;
}
.urlTableAddButton {
  height: 80px;
}
