.main {
  position: absolute;
  top: 80px;
  width: 100%;
  padding: 45px 0 0 0;
  background-color: #F8F8F8;
}

.query {
  width: 70%;
  height: max(auto 120px);
  margin: 20px 0 0 10%;
  background-color: #FFF;
  position: relative;
}
.query:last-child {
  margin: 20px 0 30px 10%;
}

.queryPath {
  position: absolute;
  margin: 10px 0 10px 20px;
  font-size: 20px;
  color: #979797;
}

.queryKey {
  vertical-align: middle;
  display: inline-block;
  margin: 55px 5px 40px 20px;
  font-size: 34px;
  color: #000;
}

.queryDescription {
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  height: 60px;
  margin: 40px 0 0 20px;
  border: 0.5px solid #CCC;
  font-size: 15px;
}

.querySave {
  cursor: pointer;
  vertical-align: bottom;
  display: inline-block;
  margin: 20px 30px;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 3px;
  text-align: center;
  background: #CDF;
}
.querySave:hover {
  background: #ABD;
}

