.alertInfo {
  background: #DDF;
}
.alertSuccess {
  background: #DFD;
}
.alertError {
  background: #FDD;
}
.alertInfo, .alertSuccess, .alertError {
  width: 200px;
  height: auto;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

