.header {
  width: 100%;
  height: auto;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  background: #CDE;
  margin-bottom: 20px;
}

.homeIcon {
  cursor: pointer;
  display: inline-block;
  margin: 8px 15px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  vertical-align: middle;
}

.homeIconImg {
  border-radius: 10px;
}

.title {
  style: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 15px;
  vertical-align: middle;
  color: #555;
}
