.header {
  width: 100%;
  height: auto;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  background: #DDDDDD;
}

.homeIcon {
  cursor: pointer;
  display: inline-block;
  margin: 10px 0 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;

  vertical-align: middle;
  background: #FFFFFF;
}
.homeIconImg {
  border-radius: 10px;
}

.title {
  style: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0 20px;
  vertical-align: middle;
  color: #555;
}
